body {
  background: linear-gradient(var(--light-blue), var(--light));
}

header {
  background-color: transparent;
}
.welcome h1 {
  grid-area: heading;
}
.welcome h2 {
  grid-area: under-heading;
}

.cta-left {
  grid-area: button-left;
}

.cta-right {
  grid-area: button-right;
}

.welcome {
  max-width: 300px;
  margin: 70px auto;
  text-align: center;
  display: grid;
  row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "heading"
    "under-heading"
    "button-left"
    "button-right";
}

.watch,
.produce,
.join {
  row-gap: 20px;
  flex-direction: column;
  max-width: 300px;
  margin: 300px auto;
}

.watch,
.produce {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}

.join {
  display: flex;
}

.watch img,
.produce img {
  width: 300px;
  border-radius: 30px;
}

.watch a,
.produce a {
  width: 300px;
  border-radius: 30px;
  color: var(--dark-grey);
}
