body {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: linear-gradient(#7eb3de, #fff);
}

header {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header img {
  height: 60px;
  margin: 10px auto;
}

h1 {
  color: #373736;
  font-size: 3em;
  margin: 0;
}

h2 {
  color: #706f6f;
  font-size: 1.7em;
  margin: 20px;
}

nav {
  max-width: 100%;
  display: none;
  position: fixed;
  top: 80px;
  background-color: #fff;
  left: 0;
  font-size: 1.3em;
}
nav ul {
  margin: 0 40px 0 0;
  padding-inline-start: 0;
}
nav li {
  display: block;
  margin: 10px 25px;
  padding: 10px 0;
}
nav a {
  color: #7eb3de;
  display: block;
  text-decoration: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.active {
  text-decoration: underline;
}
.fa,
.fas {
  font-size: 30px;
  color: #fff;
  margin: 10px;
}

.fa-search {
  justify-self: end;
  margin-right: 40px;
}
.fa-bars {
  margin-left: 30px;
}

footer {
  background-color: #7eb3de;
  color: #fff;
  text-align: left;
  padding: 20px;
  margin: 90px 0 0 0;
  font-size: 0.9em;
}

.footer__nav {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
}

.footer__nav ul {
  margin: 0px;
}

.footer__nav li {
  display: block;
  padding: 10px;
}

.footer a,
.footer__nav a {
  color: #fff;
  text-decoration: none;
}
.footer__bottom {
  grid-column-start: 1;
  grid-column-end: span 3;
  margin: 10px auto;
}

/*Home page*/
.welcome {
  max-width: 600px;
  margin: 150px auto;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.cta {
  background-color: #fff;
  color: #373736;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 35px;
  padding: 20px 30px;
  margin: 5px 5px;
  text-decoration: none;
  max-width: 500px;
}

.watch,
.produce,
.join {
  margin: 400px auto;
  align-items: center;
  max-width: 80%;
}

.watch,
.produce {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.watch {
  flex-direction: column;
}

.produce {
  flex-direction: column-reverse;
}

.watch img,
.produce img {
  max-width: 350px;
}

.watch h2,
.produce h2,
.join h2 {
  color: #373736;
  font-size: 2.2em;
  font-family: montserrat;
  font-weight: normal;
}
.watch p,
.produce p {
  font-size: 1.1em;
  font-family: montserrat;
  font-weight: normal;
  line-height: 170%;
}
.watch a {
  color: #fff;
  font-size: 1.1em;
}
.produce a {
  color: #7eb3de;
  font-size: 1.1em;
}

.cta-blue {
  background-color: #7eb3de;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 35px;
  padding: 15px 100px;
  text-decoration: none;
}

.join {
  max-width: 600px;
  display: grid;
  text-align: center;
  min-width: 350px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.join h2 {
  margin: 30px;
}

@media (min-width: 500px) {
  .welcome {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .welcome h1,
  .welcome h2 {
    grid-column-start: 1;
    grid-column-end: span 2;
    margin-bottom: 30px;
  }
  .cta {
    margin: 0 5px;
    text-decoration: none;
    width: 130px;
  }
  .cta-right {
    justify-self: start;
  }

  .cta-left {
    justify-self: end;
  }
  .watch img,
  .produce img {
    max-width: 400px;
  }
}

@media (min-width: 900px) {
  .watch,
  .produce {
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  header {
    display: block;
    align-items: stretch;
    justify-content: start;
  }
  header img {
    margin: 15px 0px 10px 20px;
    float: left;
  }
  header label {
    display: none;
  }
  nav {
    display: block;
    position: static;
    font-size: 1em;
  }
  nav ul {
    margin: 17px 0px 0px 0px;
  }
  nav li {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px;
  }
  nav a {
    color: #fff;
  }
  .nav-left {
    float: left;
    margin-left: 15px;
  }
  .nav-right {
    float: right;
    margin-right: 20px;
  }
  .fa-search {
    visibility: hidden;
  }
  .watch,
  .produce,
  .join {
    margin: 400px auto;
    align-items: center;
    max-width: 900px;
  }
  .watch div {
    margin-left: 70px;
  }
  .produce div {
    margin-right: 70px;
    text-align: right;
  }
  .cta-blue {
    padding: 17px 150px;
  }
}
